.mm_main{
    position: fixed;
    z-index: 1000;
    right:0;
    top: 0;
    background:linear-gradient(45deg,#dde1f1f8,#f9f9f9f8);
    backdrop-filter: blur(50px);
    width: 0;
    height: 100vh;
    transition: all 0.3s ease-out;
    .social-icon{
        display: none;
    }
    
}
.mm_main.opened{
    width: 100%;
    .social-icon{
        position: absolute;
        bottom: 100px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 10px;
        a{
            width: 35px;
            height: 35px;
            line-height: 35px;
            text-align: center;
            font-size: 16px;
            display: block;
            background: #0c1c3b;
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
            text-align: center;
            border-radius: 50%;
            cursor: pointer;
           

        i{
            color: #f0f2ff;
        }
          
        }
    }
}
.mm_main.closed{
    width: 0;
}
.mm_con1{
    margin-left: 30px;
    margin-top: 10vh;
    h2{
        margin-bottom: 1rem;
        font-weight: 500;
    }
    .sub{
        margin-left: 30px;
        height: 0;
        overflow: hidden;
        transition: all 0.3s ease-out;
    }
    .sub.show{
        height: fit-content;
    }
}
.mm_menuitems{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 5px;
    margin-top: 2rem;
}
.mm_menuitems{
    h3{
        display: flex;
        justify-content: center;align-items: center;
        margin: 0;
        padding: 0;
        color: black;
        font-weight: 500;
        letter-spacing: 0.8px;
    }
  
    
}
.mm_menuitems.show{
    h3{
        display: flex;
        justify-content: center;align-items: center;
        margin: 0;
        padding: 0;
        color: black;
        font-weight: 500;
        letter-spacing: 0.8px;
        font-size: 25px;
    }
    
}


/* ////////////////////////////////// */
.mmbtn{
    position: fixed;
    right: 20px;
    top: 15px;
    color: white;
    z-index: 1002;
    font-size: 40px;
    display: none;
    @media (max-width:770px) {
        display: block;
    }
}
.mmbtn.color{
    color: var(--bg-5);
}
.mmbtn.true{
    color: var(--bg-5);
}