//>>>>> Component Button Here <<<<<//
.theme-btn {
    position: relative;
    z-index: 2;
    vertical-align: middle;
    display: inline-flex;
    gap: 15px;
    border: none;
    text-align: center;
    background-color: $theme-green;
    color: $header-color;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1;
    padding: 20px 30px;
    overflow: hidden;
    align-items: center;
    border-radius: 10px;

    i {
        margin-left: 5px;
    }

    &::after,&::before {
        content: "";
        display: block;
        width: 50px;
        height: 50px;
        transform: translate(-50%,-50%);
        position: absolute;
        border-radius: 50%;
        z-index: -1;
        background-color: $header-color;
        transition: 1s ease
    }

    &::before {
        top: -2em;
        left: -2em
    }

    &::after {
        left: calc(100% + 2em);
        top: calc(100% + 2em)
    }

    &:hover {
        color: $white;
        box-shadow: none;

        &::after,&::before {
            height: 410px;
            width: 410px
        }
    }

    &.hover-white {
        &::after,&::before {
            background-color: $white;
        }

        &:hover {
            color: $header-color;
        }
    }

    &.yellow-btn {
        background-color: $theme-yellow;
        color: $header-color;
        
        &::after,&::before {
            background-color: $header-color;
        }

        &:hover {
            color: $white;
        }
    }

    &.red-btn {
        background-color: $theme-red;
        color: $white;
        
        &::after,&::before {
            background-color: $header-color;
        }

        &:hover {
            color: $white;
        }
    }

    &.pink-btn {
        background-color: $theme-pink;
        color: $white;
    }

    &.theme-blue-2 {
        background-color: $theme-blue-2;
        color: $white;
    }

    @include breakpoint (max-sm){
        padding: 18px 30px;
        font-size: 14px;
    } 
}


//>>>>> Component Button End <<<<<//

// share button used in events detais page

.share_btn{
    display: flex;
    cursor: pointer;
    background-color: var(--bg5);
    color: white;
    width: 120px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    .firstshow{

    }
    .secondshow{
        display: none;
    }
}

.share_btn:hover::after{
    content: "";
    position: absolute;
    width: 60px;
    height: 45px;
    background-color: #b00018;
    right: 50%;
    z-index: -1;
    animation: animexpand 0.3s forwards ease-out;


}
.share_btn:hover::before{
    content: "";
    position: absolute;
    width: 0;
    height: 45px;
    background-color: #b00018;
    left: 50%;
    z-index: -1;
    transition: all 0.3s ease-in-out;
    animation: animexpand 0.3s forwards ease-out;

}
@keyframes animexpand {
    0%{
        width: 0;
    }
    100%{
        width: 60px;
    }

}
.share_btn:hover{
    background-color: transparent;
    .secondshow{
        display: block;
    }
    .firstshow{
    display: none;
    }
}