
.hero-3 {
    position: relative;
    z-index: 9;

    .slider-bg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center center;
        transform: scale(1);
        -webkit-transition: all 8s ease-out 0s;
        -moz-transition: all 8s ease-out 0s;
        -ms-transition: all 8s ease-out 0s;
        -o-transition: all 8s ease-out 0s;
        transition: all 8s ease-out 0s;
    }

    .overlay-bg  {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }

    .hero-content {
        position: relative;
        transform: translateY(50px);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 9;
        text-align: center;
        max-width: 1030px;
        margin: 0 auto;
        text-align: center;
        padding: 180px 0 355px;
        
        @include breakpoint (max-sm) {
            padding: 100px 0 120px;
        }


        h6 {
            color: $white;
            margin-bottom: 40px;
            font-size: 22px;
            font-weight: 600;
            letter-spacing: -0.44px;
            position: relative;
            display: inline-block;

			&::before {
				position: absolute;
				bottom: -8px;
				left: 0;
				right: 0;
				content: "";
				width: 100%;
				height: 5px;
				background-size: cover;
				background-repeat: no-repeat;
				background-image: url(../../assets/img/hero/white-bar.png);
				animation: width 1.5s linear !important;
				animation-fill-mode: both;
				background-position: center;
			}
        }

        h1 {
            color: $white;
            font-size: 60px;
            line-height: 1;

            @include breakpoint (max-xxl){
                font-size: 80px;
            }

            @include breakpoint (max-lg){
                font-size: 70px;
            }

            @include breakpoint (max-md){
                font-size: 55px;
            }

            @include breakpoint (max-sm){
                font-size: 42px;
            }
        }

        p {
            max-width: 80%;
            text-align: center;
            margin: 30px auto 0;
            font-size: 20px;
            color: $white;
            font-weight: 400;

            @include breakpoint (max-md){
                font-size: 18px;
            }

            @include breakpoint (max-sm){
                font-size: 16px;
            }
        }
    }

    .hero-button {
        margin-top: 40px;
        text-align: center;

        @include breakpoint (max-md){
           margin-top: 30px;
        }
    }

    .swiper-slide.swiper-slide-active {
        .slider-bg {
            -webkit-transform: scale(1.19);
            -moz-transform: scale(1.19);
            transform: scale(1.19);
        }
    }

    .hero-slider {
        position: relative;

        .array-button {
            position: absolute;
            top: 45%;
            left: 8%;
            right: 8%;
            transform: translateY(-50%);
            z-index: 99;
            @include flex;
            justify-content: space-between;

            @include breakpoint (max-xxl){
                display: none;
            }

            .array-prev,.array-next {
                width: 60px;
                height: 60px;
                line-height: 60px;
                text-align: center;
                border-radius: 50%;
                border: 1px solid $white;
                color: $white;
                @include transition;

                &:hover {
                    background-color: $white;
                    color: $theme-red;
                }
            }
        }
    }
}

// .hero-section-3 {
//     .swiper-slide.swiper-slide-active {
        
//         .hero-content{
//             opacity: 1;
//             transform: translateY(0px);
//             transition: all 2500ms ease;
//         }

//         .hero-button  {
//             opacity: 1;
//             transform: translateY(0px);
//             transition: all 2500ms ease;
//         }
//     }
// }
